@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
	font-family: Tahoma, Helvetica, Arial;
}


a {
	color: #cd8f13;
	font-weight: bold;
}

a:HOVER {
	color: #8f2f2e;
	font-weight: bold;
}

.company img{
	border: none;
height:50px;
}

h2{
	font-size: 14px;
	text-align: center;
	color:#999;
}

body {
	color: white;
	background-color: #182325;
	font-size: 12px;
	margin: auto;
}

#big_wrapper {
	background: url("../img/background_top.png") top center no-repeat;
	margin: auto;
}

#top_header {
	font-weight: bold;
	margin: 0 auto;
	width: 1000px;
	height: 120px;
}

#leftBG{
	float: left;
	width: 200px;
	height: 720px;
	background: url("../img/background_left.png") no-repeat;
	margin-left: -200px;
	margin-right: 0px;
}

#rightBG{
	float:right;
	width: 200px;
	height: 720px;
	background: url("../img/background_right.png") no-repeat;
	margin-right: -200px;
	margin-left: 0px;
}

#top_header a {
	text-decoration: none;
	color: white;
}

#logo {
	width: 450px;
	padding: 50px 35px 30px 0px;
	background: url("../img/logo.png") no-repeat left center;
	height: 20px;
	float: left;
}

#slogan {
	width: 450px;
	padding-top: 40px;
	height: 20px;
	text-align: right;
	float: left;
}

#postWrapper{
	float: left;
}

#section_container_bottom 
{	
	width: 1000px;	
	margin: auto;
	background: url("../img/container_bottom.png") no-repeat scroll center bottom;
	position: relative;
	padding-bottom: 7px;
	margin-bottom: 20px;
}

#section_container_top {
	height: 19px;
	margin-top: -7px;
	background: url("../img/container_top.png") no-repeat scroll 0 0;
}

#section_container {
	background: url("../img/container_middle.png") repeat-y;
	min-height: 650px;
	margin:0px;
	padding:0px;
	width: 100%;
	position: relative;
	margin-top: -10px;
}

#footer 
{
	background: url("../img/footer_middle_bg.jpg") no-repeat center top;
	width: 1000px;
	height: 120px;
	margin: auto;
}

#sobi2PageNav
{
	overflow: auto;
}
	
#footerLeft{
	float:left;	
	width: 200px;
	height: 310px;
	background: url("../img/footer_left_bg.jpg") no-repeat;
	margin-left: -120px;
}

#footerRight{
	float:right;
	width: 200px;
	height: 310px;
	background: url("../img/footer_right_bg.jpg") no-repeat;
	margin-right: -145px;
}


#section_container {
	overflow: hidden;
}
